*{
    margin: 0;
    padding : 0;
}
.navigation-div{
    width: 100%;
    float: left;
}
.logo-image{
    float: left;
}
.list-items{
    float: left;   
}
.anchor-tagg{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding : 20px 15px;
    font-weight: bold;
}
.anchor-tagg:hover{
    color: blue;
   
}
.ul-elements{
    float: left;
    padding: 15px;
    text-decoration: none;
    list-style-type: none;
    position: relative;
}
.li-items{
    padding: 5px 10px;
}
.list-items:hover {
    color: black
}
.drop-down{
    list-style-type: none;
    display: none;
}
.list-items:hover .drop-down{
    display: block;
}
.text-box{
    float: right;
    padding: 10px;
    margin-right: 10px;
}
.inside-textbox{
    padding: 5px 30px 5px 5px;
}